Concurrency issue with reinitialization welcomes?

[Section 11.2 of RFC 9420](https://www.rfc-editor.org/rfc/rfc9420.html#section-11.2) specify that reinitialization proceed in three phases, that may be performed by different members:
- send a ReInit proposal
- send a Commit that cover the ReInit proposal
- send Welcome messages to invite people to the new group

What would happen if two group members send Welcome messages in the third step concurrently? If I am not mistaken, the group would fork?

(issue opened following discussions with @msprotz and @MartinSarkany)

The Welcome message references a resumption PSK with the group id and epoch of the group being replaced. A strongly-consistent DS can tell you which Welcome came first, or with an eventually-consistent DS you would use some tie-breaker function. For all intents and purposes, this is the same process as deciding which Commit to accept.

I agree that such constraints on the DS would solve this problem, however it seems to me that these constraints are not enforced by the document for Welcome messages, section 5.2 enforce these properties only on Commits but not on Welcomes.

I don't have a well-formed opinion on the substantive question, but it's not clear to me that this is an issue on the architecture document, which is Informational and doesn't use 2119 language. If it's a problem we should fix 9420, I suspect.

@bifurcation ?


The reinit proposal includes the GroupID of the new group, so whoever creates the commit in the new group that adds all the members of the old group (presumably the creator of the new group). I don't think two members can create such a commit at the same time and thus send out competing welcomes.

Another thing that concerns me a little is that 9420 seems to require the new group id to match the old group id. I don't think that was intended, but I can't quite remember.

To clarify, here is my concern explained with more details:
- say Alice commit a ReInit, this reinit contains a `group_id` (as mentioned by Konrad)
- say Bob and Charlie both want to send a Welcome message to the group members for the reinitialized group, a psk is used to transfer the old epoch secret to the new group
- if I understand things correctly, creating the new group state is not deterministic, although the `group_id` and psk are deterministic, other parameters are not, such as the new ratchet tree (what are the new leaf nodes, what is their position, etc)
- hence say that Bob's new group is different than Charlie's new group
- and say that Alice receives Bob's Welcome first, and Dave receives Charlie's Welcome first
- then Alice, Bob live in a forked group compared to Charlie and Dave.

This is why I think the reinitializaiton Welcomes must have a consistent order by the DS. Further, the DS should echo back the Welcome to the person who sent it (e.g. so that Bob know his Welcome is the first one, and Charlie know that Bob's Welcome is the first one).

(This is a part of the RFC I am not familiar with, so I might be mistaken in my claims above.)

>Note that these three steps may be done by the same group member or different members. For example, if a group member sends a Commit with an inline ReInit proposal (steps 1 and 2) but then goes offline, another group member may recreate the group instead. This flexibility avoids situations where a group gets stuck between steps 2 and 3.

I consider the quoted paragraph above a bug in RFC9420. This "flexibility" means any number of members could create a new group and try to add the existing members resulting in multiple Welcomes arriving in different orders. It would be a complete mess. I think the spec should have said that the Commit with the ReInit and the Commit adding the existing members to the replacement group must be stapled together (and therefore come from the same member).

In any case I don't think there is anything we should do in the architecture document about this.

I agree with you, either the Commit and Welcomes must come from the same member, ("stapled" together) or the DS must enforce a consistent order on Welcomes.
Indeed this issue do not belong to the architecture document, where should we move this discussion then?

The statement at the top of the issue omits some helpful context.  As phrased in RFC 9420, the steps are:

1. Send a ReInit Proposal
2. Send a Commit covering the ReInit proposal
3. Send **a Commit re-adding the existing members to the new group**, and the corresponding Welcome(s)

(Bolded part omitted from the top comment.) I can see how @TWal arrived at his description, because the Commit isn't really used, only the Welcomes.  But including it I think highlights the right answer here: The submission and fanout of a (Commit, Welcome) here should work the same as any other (Commit, Welcome) for the group.  The DS should regard the new Commit as continuing the linear history of the old group, with the normal set of sequencing / contention constraints.

I think it would be appropriate to add some text to the architecture to make this clear.  Perhaps as another subsection of 5.2 Delivery of Messages, roughly:

```
### Reinitialization of the Group

[[ Recap of how reinitialization works ]]

[[ Reinitialization commits (3) should be sequenced as if they 
were commits on the old group.  Avoids the formation of 
multiple successor groups ]]
```

I'm not sure that's something the DS can necessarily enforce. For example, if handshake messages are encrypted, the DS has no idea a re-init is taking place. The whole operation should really be transparent to the DS.

I agree with Rohan and Théophile that this is a bug in the spec. The spec should mandate that the client sending the reinit is also the client that sends the Welcomes to the new group. You may staple if you wish, but I don't think you should have to.

I agree with DS treating commit and welcome messages the same for ordering. 

With group reinit, does the client need to fetch new key packages for all the members? I worry that the racing condition mentioned above could lead to consuming a lot of keys. My understanding from reading the spec is that it’s not needed and only branching requires new keypackages

Can I get a volunteer to draft up a PR? See [email](https://mailarchive.ietf.org/arch/msg/mls/UgfHJZKdvGAG6ETQWwfamQ254kM/).